extends mainPage
    
block content
        ul 
          li User: FirstName : #{users.firstname},
          li LastName:  #{users.lastname},
          li Email: #{users.email},
          li Password: #{users.password} 
           nav
             p 
                 a(href="/" ) MAIN PAGE